# Python
*.pyc
__pycache__/
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Database
*.sqlite3
db.sqlite3

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Django
staticfiles/
media/
